name: CI
on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  run-test:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Set up Go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5
        with:
          go-version: 1.24
          check-latest: true

      - name: Build and Test
        run: |
          go mod tidy
          go build
          go test -v ./...
        env:
          VET_E2E: true

          # Used to avoid rate limiting issue while running
          # test suites that use GitHub API
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  run-e2e:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Set up Go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5
        with:
          go-version: 1.24
          check-latest: true

      - name: Build vet
        run: |
          go mod tidy
          go build

      - name: Run E2E Scenarios
        run: |
          ./test/scenarios/all.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run E2E Scenarios with Insights V2
        if: github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository
        run: |
          ./test/scenarios/all.sh
        env:
          E2E_INSIGHTS_V2: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # This will not be available when there is a PR from a forked repository
          VET_API_KEY: ${{ secrets.SAFEDEP_CLOUD_API_KEY }}
          VET_CONTROL_TOWER_TENANT_ID: ${{ secrets.SAFEDEP_CLOUD_TENANT_DOMAIN }}

  build-container-test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Checkout Source
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

    - name: Setup QEMU
      uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3

    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3

    - name: Build Container Image
      run: |
        docker buildx build --platform linux/amd64 --platform linux/arm64 \
        -t build-container-test .

    - name: Test Container Image
      run: |
        docker run --rm \
          build-container-test \
          scan \
          --filter-suite .github/vet/policy.yml \
          --cloud-mode true \
          --cloud-key "${{ secrets.SAFEDEP_CLOUD_API_KEY }}" \
          --cloud-tenant "${{ secrets.SAFEDEP_CLOUD_TENANT_DOMAIN }}" | tee scan_output.txt

        # Check if the output contains expected results
        if grep -q "Summary of Findings" scan_output.txt; then
          echo "Container test passed: Scan completed successfully"
        else
          echo "Container test failed"
          cat scan_output.txt
          exit 1
        fi

